h4{
    font-size: 25px !important; 
}

.btn-warning:hover
{
    background-color: royalblue;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

canvas
{
    border-radius: 10px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}